<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Cadastro Lançamento</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">	
</head>

<body>
	<div class="container my-2">
		<h1>Tartaruga Cometa | Lançamento</h1>
		<hr>
		<form action="#" th:action="@{/salvarLancamento}" th:object="${lancamento}" method="POST">
			
			<label for="seleProd">Selecione o Produto:</label>
			<select id="seleProd" th:field="*{produto}" class="form-select form-select-sm" aria-label=".form-select-sm example">
				<option th:each="produtols : ${listProdutos}"
					th:value="${produtols.id}" th:text="${produtols.toString}" required="true" selected="selected"></option>
			</select>
			<br>
			<hr>
			<label for="seleReme">Selecione o Remetente do Lançamento:</label>
			<select id="seleReme" th:field="*{remetente}" class="form-select form-select-sm" aria-label=".form-select-sm example">
				<option th:each="remetentels : ${listRemetentes}"
					th:value="${remetentels.id}" th:text="${remetentels.toString}" required="true"></option>
			</select>
			<br>
			<hr>
			<label for="seleDest">Selecione o Destinatário do Lançamento:</label>
			<select id="seleDest" th:field="*{destinatario}" class="form-select form-select-sm" aria-label=".form-select-sm example">
				<option th:each="destinatariols : ${listDestinatarios}"
					th:value="${destinatariols.id}" th:text="${destinatariols.toString}" required="true"></option>
			</select>
			<br>
			<hr>
			<select th:field="*{statusLancamento}"class="form-select form-select-sm" aria-label=".form-select-sm example" >
				<option th:each="status : ${T(com.example.tartarugaCometaGw.nucleo.StatusLancamentoEnum).values()}"
					th:value="${status.id}" th:text="${status.descricao}" th:disabled="${statusLancamento}"
					selected="selected"></option>
			</select>
			<br><br>
			<hr>
			<button type="submit" class="btn btn-info col-2">Salvar</button>

		</form>
		<div id="divMsgError" th:each="m : ${msgError}">
			<span th:text="${m}"></span>
		</div>
		<a th:href="@{/vizualizarLancamento}">Voltar</a>
	</div>
</body>

</html>