<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lançamentos</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>

	<div class="container my-2">
		
		<a th:href="@{/incluirLancamento}" class="btn btn-primary btn-sm mb-3">Cadastro Lancamento</a>
		
		<h1>Lista de Lançamentos</h1>
		<hr />
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Id</th>
					<th>Status</th>
					<th>Remetente</th>
					<th>Produto</th>
					<th>Destinatario</th>
					<th>Alterar Status Lançamento</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lancamento : ${listLancamentos}">
					<td th:text="${lancamento.id}"></td>
					<td th:text="${lancamento.statusLancamentoPorId}">
					</td>
					<td>
						<a th:href="@{/indexRemetente/alterar/{id}(id=${lancamento.remetente})}" class="btn btn-primary">Vizualizar/Alterar</a>
					</td>
					<td>
						<a th:href="@{/indexProduto/alterar/{id}(id=${lancamento.produto})}" class="btn btn-primary">Vizualizar/Alterar</a>
					</td>
					<td>
						<a th:href="@{/indexDestinatario/alterar/{id}(id=${lancamento.destinatario})}" class="btn btn-primary">Vizualizar/Alterar</a>
					</td>
					<td>
						<a th:href="@{/indexLancamento/alterar/{id}(id=${lancamento.id})}" class="btn btn-primary">Alterar Status</a>
					</td>
					<td>
						<a th:href="@{/indexLancamento/excluir/{id}(id=${lancamento.id})}" class="btn btn-danger">Excluir</a>
					</td>

				</tr>
			</tbody>
		</table>
		<a th:href="@{/entrar}">Retornar para o Menu de Navegação</a>

	</div>
</body>

</html>