<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Index</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

	<div class="container my-2">

		<h1 style="text-align: center;">Navegue aqui</h1>
		<hr />
		<a th:href="@{/incluirProduto}" class="btn btn-primary btn-sm mb-3">Cadastrar Produto</a>
		<a th:href="@{/incluirRemetente}" class="btn btn-primary btn-sm mb-3">Cadastrar Remetente</a>
		<a th:href="@{/incluirDestinatario}" class="btn btn-primary btn-sm mb-3">Cadastrar Destinatario</a>
		<hr />
		<a th:href="@{/vizualizarLancamento}" class="btn btn-primary btn-sm mb-3">Lançamentos</a>
	</div>
</body>

</html>