<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Index</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

	<div class="container my-2">

		<h1 style="text-align: center;">Página inicial</h1>
		<hr />
		<p>Você deve Cadastrar o Remetente > Produto > Destinatario > Por fim Finalizar o Lancamento.</p>
		<hr />
		<a th:href="@{/incluirRemetente}" class="btn btn-primary btn-sm mb-3">Área do Remetente</a>
	</div>
</body>

</html>