<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Cadastro Remetente</title>
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
	<div class="container my-2">
		<h1>Tartaruga Cometa</h1>
		<hr>
		<form action="#" th:action="@{/salvarRemetente}" th:object="${remetente}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			<label for="cnpj" >CNPJ/CNPF:</label>
			<input type="text" id="cnpj" th:field="*{cnpjCnpf}" required="true" placeholder="CNPJ ou CNPF" class="form-control mb-4 col-4">

			<label for="razaoSocial" >Razão Social:</label>
			<input type="text" id="razaoSocial" th:field="*{razaoSocial}" placeholder="Razão Social" class="form-control mb-4 col-4">			

			<label for="nome" >Nome:</label>
			<input type="text" id="nome" th:field="*{nome}" required="true" placeholder="Nome" class="form-control mb-4 col-4">
						
			<br><br>
			<button type="submit" class="btn btn-info col-2">Salvar</button>

		</form>
		<hr>

		<a th:href="@{/entrar}">Retornar para o Menu de Naveção</a>
	</div>
</body>

</html>